[Unit]
Description=Load PulseAudio droid-card after ADSP audio APR is ready
After=pulseaudio.service pa-no-suspend-droid.service
BindsTo=pulseaudio.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/droid/adsp-audio-wait-and-load.sh

[Install]
WantedBy=user-session.target
