[Unit]
Description=Create Android dynamic partition dm-linear mappings and device nodes
DefaultDependencies=no
Before=local-fs.target system_root.mount vendor.mount odm.mount product.mount system_ext.mount

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/droid/droid-dm-setup.sh

[Install]
WantedBy=local-fs.target
