[Unit]
Description=Droid mount for /product
DefaultDependencies=no
After=droid-mount-setup.service
Requires=droid-mount-setup.service
Before=local-fs.target systemd-modules-load.service

[Mount]
What=/run/droid/product
Where=/product
Type=ext4
Options=ro
TimeoutSec=5

[Install]
WantedBy=local-fs.target
